doctype html
html
    head
        title= title
        script(src='./vendor/angular/angular.min.js', type='text/javscript')
        script(src='./vendor/zepto/zepto.min.js', type='text/javscript')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
